
.conteiner {
    background: linear-gradient(90deg, #0a0a0b, #434343);
    width: 100%;
    height: 1000px;
    position: relative;
    display: block;

    @media (min-width: 1361px) and (max-width: 1800px) {
        height: 720px;
    }

    @media (min-width: 1060px) and (max-width: 1360px) {
        height: 690px;
    }

    @media (min-width: 956px) and (max-width: 1059px) {
        height: 638px;
    }

    @media (min-width: 815px) and (max-width: 955px) {
        height: 542px;
    }

    @media (min-width: 619px) and (max-width: 814px) {
        height: 409px;
    }

    @media (max-width: 618px) {
        height: 289px;
    }
}

.myPhotoImg {
    display: none;
    @media (max-width: 1059px) {
        display: block;
        width: 100%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        left: 0;
        right: 0px;
        bottom: 0;
    }
}

.titleIamNikita {
    display: none;
    @media (max-width: 379px) {
        font-size: 2rem;
        display: block;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0px;
        z-index: 6;
    }
}

.myPhoto1 {
    height: 1000px;
    width: 1180px;
    z-index: 2;
    position: absolute;
    right: 43%; 
    @media (min-width: 2000px) {
        right: 50%; 
    }

    @media (min-width: 956px) and (max-width: 1059px) {
        height: 542px;
        width: 637px;
        margin-right: auto;
        margin-left: auto;
        left: 0;
        right: 100px;
        bottom: 0;
    }

    @media (min-width: 815px) and (max-width: 955px) {
        height: 461px;
        width: 542px;
        margin-right: auto;
        margin-left: auto;
        left: 0;
        right: 80px;
        bottom: 0;
    }

    @media (min-width: 619px) and (max-width: 814px) {
        height: 348px;
        width: 409px;
        margin-right: auto;
        margin-left: auto;
        left: 0;
        right: 80px;
        bottom: 0;
    }

    @media (max-width: 618px) {
        height: 247px;
        width: 290px;
        margin-right: auto;
        margin-left: auto;
        left: 0;
        right: 80px;
        bottom: 0;
    }

    @media (max-width: 360px) {
        left: -20px;
    }

    @media (max-width: 300px) {
        left: -40px;
    }

    @media (min-width: 1060px) and (max-width: 1360px) {
        height: 613px;
        width: 723px;
        margin-right: auto;
        margin-left: auto;
        left: 0;
        right: 80px;
        bottom: 0;
    }

    @media (min-width: 1361px) and (max-width: 1800px) {
        height: 720px;
        width: 850px;
        margin-right: auto;
        margin-left: auto;
        left: 0;
        right: 120px;
        bottom: 0;
    }
}

.myPhoto2 {
    height: 1000px;
    width: 1175px;
    z-index: 2;
    position: absolute;
    margin-left: 155px;
    right: 43%;
    @media (min-width: 2000px) {
        right: 50%; 
    }

    @media (max-width: 1059px) {
        display: none;
    }   

    @media (min-width: 1060px) and (max-width: 1360px) {
        height: 613px;
        width: 723px;
        margin-right: auto;
        margin-left: auto;
        left: 0;
        right: 80px;
        bottom: 0;
    }

    @media (min-width: 1361px) and (max-width: 1800px) {
        height: 720px;
        width: 850px;
        margin-right: auto;
        margin-left: auto;
        left: 0;
        right: 120px;
        bottom: 0;
    }
}

@media (min-width: 1060px) {
    .show {
        animation: col2 0.5s forwards;
    }

    .hide {
        animation: col 0.5s forwards;
    }

    .left {
        animation: moveLeft 0.5s forwards;
    }

    .right {
        animation: moveRight 0.5s forwards;
    }
}

@keyframes moveLeft { 
    0% {transform: translateX(30px);} 
    100% {transform: translateX(0px);} 
}

@keyframes moveRight { 
    0% {transform: translateX(0px);} 
    100% {transform: translateX(30px);} 
}

@keyframes col { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
}

@keyframes col2 { 
    0% {opacity: 1;} 
    100% {opacity: 0;} 
}

.logoAboutFrontend {
    font-family: 'Corbel Light';    
    font-weight: 400;
    z-index: 1;
    position: absolute;
    display: none;

    @media (min-width: 956px) and (max-width: 1059px) {
        display: block;
        font-size: 22px;
        top: 342px;
        right: calc(63% + 60px);
        letter-spacing: 2px;
        opacity: 0.8;
    }

    @media (min-width: 815px) and (max-width: 955px) {
        display: block;
        font-size: 20px;
        top: 292px;
        right: calc(63% + 58px);
        letter-spacing: 2px;
        opacity: 0.8;
    }

    @media (min-width: 619px) and (max-width: 814px) {
        display: block;
        font-size: 15px;
        top: 220px;
        right: calc(63% + 40px);
        letter-spacing: 2px;
        opacity: 0.8;
    }

    @media (min-width: 1060px) and (max-width: 1360px) {
        display: block;
        font-size: 25px;
        top: 375px;
        right: calc(42% + 290px);
        letter-spacing: 2px;
        opacity: 0.8;
    }

    @media (min-width: 1361px) and (max-width: 1800px) {
        display: block;
        font-size: 35px;
        top: 383px;
        right: calc(50% + 270px);
        letter-spacing: 3px;
        opacity: 0.8;
    }
}

.logoAboutBackend {
    font-family: 'Corbel Light';
    line-height: 58px;
    font-weight: 400;
    z-index: 1;
    position: absolute;
    display: none;
    opacity: 0.8;

    @media (min-width: 956px) and (max-width: 1059px) {
        display: block;
        font-size: 22px;
        top: 330px;
        left: 70%;
        letter-spacing: 2px;
    }

    @media (min-width: 815px) and (max-width: 955px) {
        display: block;
        font-size: 20px;
        top: 280px;
        left: 70%;
        letter-spacing: 2px;
    }

    @media (min-width: 619px) and (max-width: 814px) {
        display: block;
        font-size: 15px;
        top: 205px;
        left: 68%;
        letter-spacing: 2px;
    }

    @media (min-width: 1060px) and (max-width: 1360px) {
        display: block;
        font-size: 25px;
        top: 365px;
        left: 70%;
        letter-spacing: 2px;
    }

    @media (min-width: 1361px) and (max-width: 1800px) {
        display: block;
        font-size: 35px;
        top: 376px;
        left: 68%;
        letter-spacing: 3px;
    }
}

.logoNikita {
    z-index: 1;
    position: absolute;
    display: none;
    right: 63%;
    top: 45%;

    @media (min-width: 956px) and (max-width: 1059px) {
        display: block;
        width: 268px;
        height: 58px;
    }

    @media (min-width: 815px) and (max-width: 955px) {
        display: block;
        width: 231px;
        height: 50px;
    }

    @media (min-width: 619px) and (max-width: 814px) {
        display: block;
        width: 176px;
        height: 38px;
    }

    @media (min-width: 443px) and (max-width: 618px) {
        display: block;
        width: 120px;
        height: 26px;
    }

    @media (min-width: 380px) and (max-width: 442px) {
        display: block;
        width: 120px;
        height: 26px;
    }

    @media (min-width: 1060px) and (max-width: 1360px) {
        display: block;
        width: 323px;
        height: 70px;
    }

    @media (min-width: 1361px) and (max-width: 1800px) {
        display: block;
        width: 508px;
        height: 110px;
        top: 38%;
    }
}

.logoKirav {
    z-index: 1;
    position: absolute;
    display: none;
    top: 45%;

    @media (min-width: 956px) and (max-width: 1059px) {
        display: block;
        width: 219px;
        height: 58px;
        left: 70%;
    }

    @media (min-width: 815px) and (max-width: 955px) {
        display: block;
        width: 189px;
        height: 50px;
        left: 70%;
    }

    @media (min-width: 619px) and (max-width: 814px) {
        display: block;
        width: 144px;
        height: 38px;
        left: 68%;
    }

    @media (min-width: 443px) and (max-width: 618px) {
        display: block;
        width: 99px;
        height: 26px;
        left: 66%;
    }

    @media (min-width: 380px) and (max-width: 442px) {
        display: block;
        width: 99px;
        height: 26px;
        left: 70%;
    }

    @media (min-width: 1060px) and (max-width: 1360px) {
        display: block;
        width: 264px;
        height: 70px;
        left: 70%;
    }

    @media (min-width: 1361px) and (max-width: 1800px) {
        display: block;
        width: 415px;
        height: 110px;
        top: 38%;
        left: 68%;
    }
}

.logo {
    width: 911px;
    height: 355px;
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 46%;
    display: block;

    @media (max-width: 1059px) {
        display: none;
    }   

    @media (min-width: 2000px) {
        left: 49%; 
    }

    @media (min-width: 990px) and (max-width: 1800px) {
        display: none;
    }
}

.logoAbout {
    font-family: 'Corbel Light';
    font-size: 45px;
    line-height: 58px;
    font-weight: 400;
    z-index: 1;
    position: absolute;
    top: calc(20% + 376px);
    left: calc(46% + 266px);
    letter-spacing: 5px;
    display: block;

    @media (max-width: 1059px) {
        display: none;
    }   

    @media (min-width: 2000px) {
        left: calc(49% + 266px); 
    }

    @media (min-width: 990px) and (max-width: 1800px) {
        display: none;
    }
}

.logoReadMore {
    font-family: 'Corbel Light';
    font-size: 28px;
    line-height: 58px;
    font-weight: 400;
    z-index: 1;
    position: absolute;
    top: calc(20% + 505px);
    left: calc(46% + 270px);
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    display: block;

    @media (max-width: 1059px) {
        display: none;
    }   

    @media (min-width: 2000px) {
        left: calc(49% + 270px); 
    }

    @media (min-width: 990px) and (max-width: 1800px) {
        display: none;
    }
}