body {
    margin: 0;
}
.divLoader {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1E1E1E;
}
.nLogoBlock {
    position: relative;
    margin-bottom: 120px;
    margin-right: 60px;
}

.consoleLogo {
    position: absolute;
}

.nLogo {
    position: absolute;
    left: 32px;
}

#console {
    fill: rgba(255,255,255,.5);
    animation: col 2s infinite;
}

#n {
    fill: rgba(255,255,255,.5);
}

@keyframes col { 
    0% {opacity: 0;} 
    20% {opacity: 1;} 
    80% {opacity: 1;} 
    100% {opacity: 0;} 
}