@import "../../style/palette.less";

@screen_min: ~"(min-width: 990px)";
@screen_max: ~"(max-width: 989px)";


a {
    color: #4e8fb8;
    text-decoration: none;
    background-color: transparent;
}

.menu_nav {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    margin: 0;
    list-style: none;
    .menu_link {
        display: block;
        padding: .5rem 1rem;
    }

    .menu_item .menu_link.active {
        color: @menulink-color-active !important;
    }

    .menu_item .menu_link:hover {
        color: @menulink-color-hover !important;
    }
}

.menuButton {
    height: 80px;
    width: 80px;
    background-color: #2d2d30;
    position: absolute;
    left: 0;
    top: 0;
}

.top_menu:hover {
    @media (min-width: 990px) {
        background-color: rgba(29,29,31,0.72);
        backdrop-filter: saturate(180%) blur(20px) opacity(1);
        border-bottom: 1px solid rgba(62, 62, 66, 1);
        transition: 1s;
    }
}

.top_menu {
    background-color: rgba(29,29,31,0);
    backdrop-filter: saturate(180%) blur(20px) opacity(0);
    border-bottom: 1px solid rgba(62, 62, 66, 0);
    transition: 1s;
}

.top_menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding: 20px 0;

    .content_menu {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .menu_nav .menu_link {
            color: @menulink-color;
        } 

        .brand {
            padding-top: .3125rem;

            &.active {
                -webkit-transform: translateX(-80px);
                -moz-transform: translateX(-80px);
                transform: translateX(-80px);
              }
        }

    }
}

@media @screen_max {
    .openMenu {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .top_menu {
        flex-flow: row nowrap;
        justify-content: flex-start;
        
        .content_menu {
        padding-right: 0;
        padding-left: 0;
        }
    }

    .menu_nav {
        -ms-flex-direction: column;
        flex-direction: column;
        .menu_link {
            padding-right: 0;
            padding-left: 0;
        }
    }

    .menu_icon  {
        padding-right: 0rem;
        padding-left: 0rem;
        margin-top: 0.5rem;
    }

    .menu_collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
    }

    .collapse>.show {
        display: block;
    }

    .collapse:not(.show) {
        display: none;
    }
}

@media @screen_min {
    .top_menu {
        flex-flow: row nowrap;
        justify-content: flex-start;

        .content_menu {
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        }

        .menu_collapse {
            display: flex!important;
            flex-basis: auto;
        }

        .menu_nav {
            -ms-flex-direction: row;
            flex-direction: row;
            .menu_link {
                padding-right: 1rem;
                padding-left: 1rem;
            }
        }

        .menu_icon {
            padding-right: 0.5rem;
            padding-left: 0.5rem;
            margin-top: 10px;
        }
    }
}
