@import "../../style/palette.less";

.footer {
    background-color: #2d2d30;
    border-top: 1px solid #3e3e42;
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin-top: auto;
}


.copyright {
    color: rgba(255, 255, 255, .2);
    text-align: center;
    margin-top: 15px;
}

.line {
    border-top: 2px solid #3e3e42;
    margin: 0 80px;
}

.menu_nav {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    margin: 0 0 20px 0;
    list-style: none;
    justify-content: center;
    .menu_link {
        display: block;
        padding: .5rem 1rem;
        color: @menulink-color;
    }

    .menu_item .menu_link.active {
        color: @menulink-color-active;
    }

    .menu_item .menu_link:hover {
        color: @menulink-color-hover;
    }
}
