@media only screen and (min-width: 990px) {
    .breadcrumb {
        margin: 0 0 1rem 0;
    }
}

@media only screen and (max-width: 989px) {
    .breadcrumb {
        margin: 0 -20px 20px -20px;
    }
}

.breadcrumb {
    background-color: #2d2d30 !important;
    border-radius: 0px !important;
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 20px;
    list-style: none;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "/";
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: .5rem;
}