@import '../style/palette.less';

@media only screen and (min-width: 990px) {
    .project {
        margin: 20px 0 20px 0;
        display: grid;
        grid-template-columns: 2fr 7fr;

        .blockTime {
            margin: 0 0 15px 0;
        }
        .columnright {
            padding: 0 0 0 30px;
        }
        .tableArticle {
            display: block;
        }
        .tableArticle2 {
            display: none;
        }
    }
    .projectImage {
        display: block;
    }
    .shortInfo {
        margin: 20px 0;
    }
}

@media only screen and (min-width: 750px) and (max-width: 989px) {
    .project {
        margin: 10px 0 10px 0;
        display: grid;
        grid-template-columns: 2fr 7fr;

        .blockTime {
            margin: 0 0 5px 0;
        }
        .columnright {
            padding: 0 0 0 30px;
        }
        .tableArticle {
            display: block;
        }
        .tableArticle2 {
            display: none;
        }
    } 
    .projectImage {
        display: block;
    }  
    .title {
        font-size: 24px;
    }
    .blockTime {
        font-size: 12px; 
    }
    .shortInfo {
        margin: 20px 0;
    }
} 

@media only screen and (max-width: 749px) {
    .project {
        margin: 10px 0 10px 0;
        display: block;
        .columnright {
            padding: 0;
        }
        .tableArticle,.blockTime {
            display: none;
        }
        .tableArticle2 {
            display: block;
        }
    } 
    .projectImage {
        display: none;
    }  
    .title {
        font-size: 24px;
    }
    .shortInfo {
        margin: 0 0 20px 0;
    }
}

.articleText {
    color: @text-color;
}

.tableArticle,.tableArticle2 {
    border: none;
    background: none;
    width: 100%;

    .titleArticle,.titleArticle2 {
        width: auto;
        h2 {
            font-size: 22px;
        }
    }

    .difficulty {
        width: 58px;
    }
}

.blockTime,.blockTime2 {
    font-family: Menlo, Monaco, monospace;
    color: @date-color;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 12px; 
    span {
        text-transform: none;
    }
}

.columnleft {
    margin-top: 10px;
}

.links {
    display: flex;
    width: 100%;
    font-size: 14px;

    .source {
        margin-left: 30px;
    }

    .linkText {
        margin-left: 10px;
    }
}

.shortInfo {
    font-size: 13px;
    p {
        font-size: 13px; 
    }
}

.technologiesColons {
    ul {
        padding-inline-start: 20px;
        font-size: 13px;  
        color: #bbbbbb;
        column-count: 2;
        
        li {
          list-style-type: circle;
          &::marker {
            color: #4e8fb8;
          }
          
        }

    }

}

.technologies {
    .title {
        margin-bottom: 10px;
        font-weight: 600;
        color: #bbbbbb;
    }
}

.myRole,.projectDifficulties,.mySolution,.notableFeatures {
    margin-bottom: 20px;
    .title {
        margin-bottom: 10px;
        font-weight: 600;
        color: #bbbbbb;
    }
    .text {
        font-size: 13px;  
        p {
            font-size: 13px; 
        }
    }
    .content {
        ul {
            padding-inline-start: 20px;
            font-size: 13px;  
            color: #bbbbbb;
            
            li {
              list-style-type: circle;
              &::marker {
                color: #4e8fb8;
              }
              
            }    
        }
    }
}

